build
transform/*
*.iml
.*
!.existdb.json
node_modules
resources/scripts
resources/i18n/common
resources/lib
resources/css/prismjs
resources/css/leaflet
resources/images/leaflet
resources/images/openseadragon