<footer>
    <p>This is a demo for <a href="https://teipublisher.com">TEI Publisher</a> and <a href="https://exist-db.org">eXist 5.0</a> based on
    data kindly provided under a CC BY-NC-SA 4.0 license by Van Gogh Museum &amp; Huygens ING. For the complete, original version, which we encourage you to visit, see
    Leo Jansen, Hans Luijten, Nienke Bakker (eds.) (2009), <a href="http://vangoghletters.org">Vincent van Gogh - The Letters</a>.
    Version: July 2018. Amsterdam: Van Gogh Museum &amp; Huygens ING. Facsimile images
    are hosted by Van Gogh Museum &amp; Huygens ING.</p>
    <a href="https://github.com/eeditiones/vangogh" title="View code on GitHub" class="gitlab" target="_blank">
        <img src="resources/images/github.svg"/>
    </a>
</footer>
