<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
    <link rel="stylesheet" href="resources/css/theme.css"/>
    <link rel="stylesheet" href="resources/css/van-gogh-theme.css"/>

    <title data-template="config:app-title"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
</head>
<body>
<div class="wrapper">
    <div class="main-grid">
        <header>
            <!--                <div class="picture">
                                <img class="portrait" src="resources/images/SelbstPortrait_VG2.jpg"/>
                            </div> -->
            <h1>Vincent van Gogh - The Letters</h1>

            <div class="subtitle">
                <h2 class="origin">Van Gogh Museum &amp; Huygens ING, Amsterdam</h2>
                <div class="date">Version: July 2018</div>
            </div>

            <div class="hint">This demo edition was made with
                <a href="https://tei-publisher.com" target="_blank">
                    <img class="publisher-logo" src="resources/images/tei-publisher-logo-color.svg"/>
                </a>
            </div>
        </header>
        <section class="letters">
            <h2>Letters</h2>
            <p>929 Letters</p>
            <a class="button-link" href="#">Explore Letters</a>
        </section>
        <section class="persons">
            <h2>Persons</h2>
            <p>1790 Persons</p>
            <a class="button-link" href="#">Explore Persons</a>
        </section>
    </div>
</div>
</body>
</html>